streamlit==1.31.0
python-dotenv==1.0.0
crewai==0.11.1
langchain-community==0.0.14
langchain-openai==0.0.5
markdown==3.4.3
mdurl==0.1.2
tiktoken==0.5.2
openai>=1.7.1,<2.0.0  # Atualizado para atender ao requisito do crewai
numpy==1.26.4  # Atualizado para versão mais recente disponível
pydantic>=2.4.2,<3.0.0
xhtml2pdf==0.2.12
reportlab==4.0.4
requests==2.31.0
duckduckgo-search==3.9.6
instructor==1.8.2